@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
$blue: #007bff;
$black:#212529;
$gray:rgb(62, 62, 62);
$tgray:rgba(62, 62, 62, 0.9);
*{
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";
html{
    overflow: hidden;
}
#a-car{
    margin: 50px 0px 0px 0px;
    width: 90%;
    min-height: 75%;
    background: rgba(0, 0, 0,0.85);
    padding: 25px;
}
#loading{
    background: $gray;
    top: 0!important;
    left: 0!important;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    position: fixed;
    
}
#loading .loader {
	display: flex;
	align-items: center;
    justify-content: space-around;
    width: 100%;
	height: 100%;
    flex-direction: column;
    img{
        width: 50%;
    }
   
}

#loading .car {
    
	&__body {
		animation: shake 0.2s ease-in-out infinite alternate;
	}
	
	&__line {
		transform-origin: center right;
		stroke-dasharray: 22;
		animation: line 0.8s ease-in-out infinite;
		animation-fill-mode: both;
		
		&--top {
			animation-delay: 0s;
		}
		
		&--middle {
			animation-delay: 0.2s;
		}
		
		&--bottom {
			animation-delay: 0.4s;
		}
	}
}

@keyframes shake {
	0% {
		transform: translateY(-1%);
	}
	100% {
		transform: translateY(3%);
	}
}

@keyframes line {
	0% {
		stroke-dashoffset: 22;
	}
	
	25% {
		stroke-dashoffset: 22;
	}
	
	50% {
		stroke-dashoffset: 0;
	}
	
	51% {
		stroke-dashoffset: 0;
	}
	
	80% {
		stroke-dashoffset: -22;
	}
	
	100% {
		stroke-dashoffset: -22;
	}
}


#list {
    background: transparent;
    border: none!important;
    outline: none!important;
    color: white;
    option{
        border: none!important;
        outline: none!important;
        background: transparent;
        color: $blue;
        &:hover{
            color: white;
            background: $blue;
            border: none!important;
            outline: none!important;
        }
    }
}

#header-top {
    background: transparent;
    border-bottom: 1px solid white;
    padding-bottom: 10px;

    * {
        color: white;
        font-size: 13px;
    }

    svg {
        width: 15px;
        height: 15px;
        fill: white;
        margin: 0px 10px 1px 0px;
    }
}
#menu-nav-bar{
    .logo{
        width: 35%;
    }
}
@media only screen and (max-width: 991px) {
    #menu-nav-bar .logo {
        width: 59%;
    }
    #list {
        color: $black;
    }
    
  }
  