@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
$blue: #007bff;
/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

#list {
    background: transparent;
    border: none!important;
    outline: none!important;
    color: white;
    option{
        border: none!important;
        outline: none!important;
        background: transparent;
        color: $blue;
        &:hover{
            color: white;
            background: $blue;
        }
    }
}

#header-top {
    background: transparent;
    border-bottom: 1px solid white;
    padding-bottom: 10px;

    * {
        color: white;
        font-size: 13px;
    }

    svg {
        width: 15px;
        height: 15px;
        fill: white;
        margin: 0px 10px 1px 0px;
    }
}
#menu-nav-bar{
    .logo{
        width: 35%;
    }
}
@media only screen and (max-width: 991px) {
    #menu-nav-bar .logo {
        width: 59%;
    }
  }