<div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="{{ url_for('show_cars') }}">
  <i class="fa fa-car" aria-hidden="true"></i>
  Maşınlar</a>
  <a href="{{ url_for('add_car') }}">
  <i class="fa fa-plus" aria-hidden="true"></i>
  Maşın Əlavə Et</a>
  <a href="{{ url_for('show_message') }}">
  <i class="fa fa-comments" aria-hidden="true"></i>
  Mesajlar</a>
  <a href="{{ url_for('settings') }}">
  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  Melumatları Yenilə</a>
  <a href="{{ url_for('logout') }}" class="logout">
  <i class="fa fa-power-off fa-2x"></i>
  Çıxış</a>

</div>

<button class="openbtn" onclick="openNav()">☰</button>  


<script>
function openNav() {
  document.getElementById("mySidepanel").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}
</script>

<style>

.logout{
    position:absolute;
    bottom:30px;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  height:100%;
}

.sidepanel a {
  padding: 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}
</style>