<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminpanel.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    {% include "adminsidebar.html" %}
    {% for data in datas %}

    <div class="container">
        <div class="row" style="margin-left: 50px;">
            <div style="min-width: 35%; border: 2px solid; margin-top: 10px; height: 150px;">
                <p>
                    Tarix: {{ data["date"] }}
                </p>
                <p>
                    Ad, Soyad: {{ data["firstname"] }} {{ data["lastname"] }}
                </p>
                <p>
                    Email: {{ data["email"] }}
                </p>
                <p>
                    Telefon: {{ data["phone"] }}
                </p>
               
            </div>
            <div style="border: 2px solid blue;  width: 250px; height: 150px; margin-top: 10px;">
                <p style="text-align: center; ">{{ data["message"] }}</p>
            </div>
            
        </div>
    </div>

    {% endfor %}




</body>
</html>