<!doctype html>
<html lang="en">

{% include "head.html" %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  {% include "loader.html" %}

  <div class="site-wrap" id="home-section">

  {% include "menu.html" %}


        <div class="ftco-blocks-cover-1">
            <div class="ftco-cover-1 overlay innerpage"
                style="background-image: url('images/hero_2.jpg');height: auto!important;">
                <div class="container">
                    <div style="height: auto!important;" class="row align-items-center justify-content-center">
                        <div id="name-and-car">
                            <div id="car-name"><a href="#">Bmw M6 gran coupe</a></div>
                            <div id="a-car">

                                <div class="side">
                                    <div id="page-wrap">
                                        <div id="banner">
                                            <div><img src="{{ url_for('static',filename='images/img_4.jpg') }}"></div>
                                            <div><img src="{{ url_for('static',filename='images/post_1.jpg') }}"></div>
                                            <div><img src="{{ url_for('static',filename='images/hero_1.jpg') }}"></div>
                                            <div><img src="{{ url_for('static',filename='images/img_1.jpg') }}"></div>
                                            <!-- <div><img src="images/img_2.jpg"></div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="side asagi">
                                    <ul>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>

                                    </ul>
                                    <ul>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>

                                    </ul>
                                    <ul>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>

                                    </ul>
                                    <ul>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>

                                    </ul>
                                    <ul>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>
                                        <li>
                                            <span>Transmision:</span><span>auto</span>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>




  {% include "footer.html" %}

  </div>

  {% include "scrolltop.html" %}

  {% include "scriptler.html" %}

</body>

</html>