<!doctype html>
<html lang="en">

  <head>
    <title>{{_('Maşınlar')}}</title>
    {% include "head.html" %}
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  {% include "loader.html" %}

  <div class="site-wrap" id="home-section">

  {% include "menu.html" %}


    <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay innerpage" style="background-image: url('{{url_for('static', filename='images/hero_2.webp')}}')">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1>{{_('Kirayə maşınlar üçün')}}</h1>
              <h2>{{_('Hər növ avtomobillərin günlük,həftəlik,aylıq icarəsi')}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">


          <div id="types-of-cars" class="container">
            <button onclick="filterSelection('all')" >{{_('Hamısı')}}</button>
            <button onclick="filterSelection('sport')" >{{_('Sport')}}</button>
            <button onclick="filterSelection('business')" >{{_('Biznes')}}</button>
            <button onclick="filterSelection('full-size')" >{{_('Full-size')}}</button>
            <button onclick="filterSelection('minivan')" >{{_('Minivan')}}</button>
            <button onclick="filterSelection('economy')" >{{_('Ekonomik')}}</button>

          </div>
          <div id="cars-lits">
            <div class="row">
          {%for car in cars%}

          
          <div class="col-lg-4 col-md-6 mb-4 {{car['car_type_level']}}">
            <div class="item-1 ">
             
              <a href="{{ url_for('car',id=car['id'])}}"><img src="{{ url_for('static', filename=car['photo_links'])}}" alt="ASRentACarLogo" class="img-fluid"></a>
              <div class="item-1-contents">
                <div class="text-center">
                  <h3><a href="{{ url_for('car',id=car['id'])}}">{{car["car_name"]}}</a></h3>
                  <div class="rent-price"><span><span class="itiscurrency">{{car['days']['1_3']}}    </span><span class="itiscurrencyname">AZN</span> /</span>{{_('gün')}}</div>
                </div>
                <ul class="specs">
                  <li>
                    <span>{{_('Qapılar')}}</span>
                    <span class="spec">{{car["doors"]}}</span>
                  </li>
                  <li>
                    <span>{{_('Oturacaqlar')}}</span>
                    <span class="spec">{{car["seat"]}}</span>
                  </li>
                  <li>
                    <span>{{_('Ötürücü')}}</span>
                    {%if car["transmission"]=='Avtomatik'%}
                    <span class="spec">{{_('Avtomatik')}}</span>
                    {% car["transmission"]=='Mexanika'%}
                    <span class="spec">{{_('Mexanik')}}</span>
                    {%endif%}
                  </li>
                  <li>
                    <span>{{_('İl')}}</span>
                    <span class="spec">{{car["year"]}}</span>
                  </li>
                </ul>
                <div class="d-flex action">
                  <a href="{{ url_for('car',id=car['id'])}}" class="btn btn-primary">{{_('Detallar')}}</a>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
</div>
        </div>
         
        </div>
      </div>
    </div>




  {% include "footer.html" %}

  </div>

  {% include "scrolltop.html" %}

  {% include "scriptler.html" %}
  <script>
    {%if callyou %}
    alert("{{_('Sorğu göndərildi. Biz sizə zəng edəcəyik')}}")
    {% endif %}
  </script>
</body>

</html>