    <footer class="site-footer">
      <div style="background: black;height: 500px; padding:50px;" class="site-section"
        style="background-image: url('{{ url_for('static',filename='images/hero_2.jpg') }}');">
        <iframe style="width:100%;height: 100%;"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3038.6588160803967!2d49.809054383230254!3d40.39425375448549!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403087846c205b29%3A0x7431e31101d86679!2s78B%20Hasan%20bey%20Zardabi%20St%2C%20Baku!5e0!3m2!1sen!2s!4v1591296520564!5m2!1sen!2s"
          frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">About Us</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts. </p>
          </div>
          <div class="col-lg-8 ml-auto">
            <div class="row">
              <div class="col-lg-3">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="{{url_for('index')}}" class="nav-link">Home</a></li>
                  <li><a href="{{url_for('cars')}}" class="nav-link">Cars</a></li>
                  <li><a href="{{url_for('about')}}" class="nav-link">About</a></li>
                  <li><a href="{{url_for('contact')}}" class="nav-link">Contact</a></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <h2 class="footer-heading mb-4">Car Types</h2>
                <ul class="list-unstyled">
                  <li><a href="#">Sedans</a></li>
                  <li><a href="#">Suvs</a></li>
                  <li><a href="#">Coupe</a></li>
                  <li><a href="#">Cabrio</a></li>
                  <li><a href="#">Minivan</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with ASGARTOGRULCODERS Team</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>