<meta name="google-site-verification" content="X1Ki8Lm0o-F_kxvepqwHvcTbBTquXH9BdB-gipsFv5A" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{{ url_for('static',filename='/images/logos/icon.webp') }}">
  <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">
  <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='fonts/icomoon/style.css') }}">
  <script src="{{ url_for('static',filename='js/js.cookie.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-datepicker.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.fancybox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='fonts/flaticon/font/flaticon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/aos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='scss/style.css') }}">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

  <!-- Admin Panel Css -->


