@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
$blue: red;
$black:#212529;
$gray:rgb(62, 62, 62);
$tgray:rgba(62, 62, 62, 0.9);

* {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.owl-nav{
    display: none;
}
.white-button {
    border: none;
    outline: none;
    background: white;
}

.word-breaker {
    word-break: break-all;
}

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

html {
    overflow: hidden;
}

body {
    background: $black;
}
#services svg{
    width: 55px;
    fill: $black;
}
#crash-car {
    width: 50%;
    right: 0;
    bottom: 0;
    position: absolute;

    .car {
        z-index: 1;
        position: relative;
    }

    .table {
        width: 25%;
        bottom: 0;
        position: absolute;
        height: 100%;
        margin: 0;
    }
}

#error-page {

    width: 100vw;
    height: 100vh;
    background: rgb(131, 131, 131);
    background: linear-gradient(0deg, rgba(131, 131, 131, 1) 0%, rgba(255, 255, 255, 1) 100%);

    .logo {
        top: 20px;
        text-align: center;
        position: relative;
        z-index: 2;

        p {
            margin-top: 50px;
            font-weight: bold;
            font-size: 25px;
            color: #484848;
        }

        img {
            height: 25%;
            width: 25%;
        }
    }

    .photo-div {
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;

        .menu {
            ul {
                li {
                    display: inline-block;
                    list-style: none;
                    font-weight: bold;
                }
            }
        }
    }
}

.will-be-white {
    color: white;
}

#calced {
    width: 100vw;
    height: 100vw;
    background: white;
    position: fixed;
}

#cars-lits {
    .col-lg-4 {

        min-width: 300px;

    }
}

#types-of-cars {
    width: 100%;
    min-height: 100px;
    margin-bottom: 50px;

    button {
        background: white;
        outline: none;
        border: none;
        border-radius: 10px;
        margin: 10px;
        color: red;
        border: 1px solid red;
        font-weight: bold;
        padding: 5px;
        text-transform: uppercase;
        &:hover {
            transition: 1s ease;
            background: red;
            border: 1px solid white;
            color: white;

        }
        &:focus {
            transition: 1s ease;
            background: red;
            border: 1px solid white;
            color: white;

        }
    }
}

#calc-result {

    h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .price {
        margin-bottom: 10px;
    }

    .wrapper {
        margin: 0 auto;
        width: 860px;
    }

    .columns {
        margin: 0 auto;
        max-width: 687px;
    }

    .details {
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
        padding: 0px 0px 100px 0px;
    }

    .thumbnail-container {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        float: left;

        .drift-demo-trigger {
            width: 79%;
        }
    }

    .price {
        font-size: 20px;
        color: #777474;
    }

    .wishlist-container {
        padding-left: 0;
    }

    #header {
        width: 100%;
        text-align: center;
        padding: 41px;
        /*box-shadow: 0 10px 17px 0px #c0c0c0;*/
    }

    #header img {
        max-width: 69px;
    }

    .text-input {
        color: red;
    }

    #inputs {
        width: 100%;
        min-height: 100px;
        text-align: center;

        input {
            padding-left: 10px;
            margin: 10px;
            border-radius: 10px;
            outline: none;
            border: none;
            color: red;
        }
    }

    .columns {
        margin-top: 30px;
    }

    .button {
        width: 100%;
        border-radius: 31px;
    }

    .select,
    select {
        width: 100%;
        border-radius: 0 !important;
    }

    #wishlist-container {
        padding-left: 0;

    }

    #buy-container {
        padding-right: 0;
    }

    .small-text {
        font-size: 14px;
    }

    .small-text span {
        font-weight: bold;
    }

    .buy-button {
        background: red;
        color: white;
        border: none;
    }

    .buy-button:hover,
    .buy-button:active,
    .buy-button:focus {
        color: white;
        opacity: 0.9;
    }

    a {
        color: #ff6900;
    }

    a:hover {
        color: #ff6900;
        opacity: 0.8;
    }

    @media only screen and (max-width: 769px) {

        #wishlist-container,
        #buy-container {
            padding: 0 0 15px 0;
        }
    }

    width: 100vw;
    position: absolute;
    background: $black;
    z-index: 20;

    .column {
        .wishlist {
            color: red;
        }

        * {
            font-weight: bold;

            color: white;
        }
    }

    #title {
        position: absolute;
        font-weight: bolder;
        text-transform: uppercase;
        top: -100px;
        font-size: 200%;
        color: white;
    }

    .result {
        width: 100%;
        min-height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        justify-content: center;

        .little-result {
            height: 100%;
            width: 75%;
            position: absolute;

            .site-logo {
                text-align: center;

                img {
                    width: 100px;
                }
            }

            h1 {
                color: white;
                text-align: center;
                font-weight: bolder;

            }
        }
    }

    .close-result {
        position: absolute;
        z-index: 2;
        top: 20px;
        margin: 20px;
        right: 20px;
        float: right;
        padding: 10px;
        background: white;
        border: none;
        outline: none;
        border-radius: 10px;

        &:hover {
            background: red;

            * {
                color: white;
                fill: white;
            }
        }

        &:focus {
            background: red;

            * {
                color: white;
                fill: white;
            }
        }

        div {
            color: red;
            display: inline-block;
            font-weight: bolder;

            svg {
                height: 25px;
                fill: red;
            }
        }
    }
}

#name-and-car {
    width: 100%;

    #car-name {
        margin: 200px 0px 0px 0px;
        text-align: center;
        background: rgba(255, 0, 0, 0.438);
        width: 100%;

        a {
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 60%;
            color: white;

        }
    }
}

#a-car {

    width: 100%;
    background: $black;
    padding: 25px;

    #calc-button {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        position: relative;

        .calc-button {
            width: 35%;
            height: 50%;
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: 100%;
            color: red;

            &:focus {
                color: white;
                background: red;


            }
        }
    }

    .side {

        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    .asagi {
        height: auto !important;
        padding: 10px;
        display: flex;
        justify-content: center;
        position: relative;

        #calculate {
            position: absolute;
            height: 100%;
            width: 100%;
            background: $black;
            display: none;
            padding-bottom: 30px;

            #calc-in-calc {
                background: white;
                position: absolute;
                right: 10px;
                bottom: 10px;
                margin: 10px;
                outline: none;
                border: none;
                border-radius: 10px;

                button {
                    border-radius: 10px;
                    color: red;
                    outline: none;
                    border: none;
                    padding: 10px 30px;

                }
            }

            ul {
                padding: 0 0 0 5px;
                margin: 0;
            }

            #check-box {

                .slide-box {
                    position: relative;
                    width: 42px;
                    height: 21px;
                    background-color: #ffffff;

                    label {
                        color: #ffffff;
                        position: absolute;
                        width: 21px;
                        height: 21px;
                        right: 21px;
                        background-color: red;
                        border: 1px solid #ffffff;
                        cursor: pointer;
                        transition: all 300ms ease;
                    }

                    input[type=checkbox] {
                        visibility: hidden;

                        &:checked+label {
                            right: 0;
                            background-color: #444857;
                        }
                    }
                }

            }

            .inputs {
                border-radius: 10px;
                padding: 2px;
                color: red;
                border: none;
                outline: none;
            }

            .close-cal {
                float: right;
                margin: 20px;
                position: absolute;
                right: 0;

                p {
                    font-size: 150%;
                    ;
                    color: white;

                    &:hover {
                        color: $gray;
                    }

                }
            }
        }

        ul {
            height: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            float: left;

            li {
                padding: 7px;

                font-size: 20px;

                span {
                    text-transform: capitalize;
                }
            }

            * {
                color: white;
                list-style: none;
            }
        }
    }
}

#loading {
    background: $gray;
    top: 0 !important;
    left: 0 !important;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    position: fixed;


}

#loading .loader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-direction: column;

    img {
        width: 50%;
    }

}

#loading .car {

    &__body {
        animation: shake 0.2s ease-in-out infinite alternate;
    }

    &__line {
        transform-origin: center right;
        stroke-dasharray: 22;
        animation: line 0.8s ease-in-out infinite;
        animation-fill-mode: both;

        &--top {
            animation-delay: 0s;
        }

        &--middle {
            animation-delay: 0.2s;
        }

        &--bottom {
            animation-delay: 0.4s;
        }
    }
}

@keyframes shake {
    0% {
        transform: translateY(-1%);
    }

    100% {
        transform: translateY(3%);
    }
}

@keyframes line {
    0% {
        stroke-dashoffset: 22;
    }

    25% {
        stroke-dashoffset: 22;
    }

    50% {
        stroke-dashoffset: 0;
    }

    51% {
        stroke-dashoffset: 0;
    }

    80% {
        stroke-dashoffset: -22;
    }

    100% {
        stroke-dashoffset: -22;
    }
}


#list {
    background: transparent;
    border: none !important;
    outline: none !important;
    color: white;

    option {
        border: none !important;
        outline: none !important;
        background: transparent;
        color: $blue;

        &:hover {
            color: white;
            background: $blue;
            border: none !important;
            outline: none !important;
        }
    }
}

#header-top {
    background: transparent;
    border-bottom: 1px solid white;
    padding-bottom: 10px;

    * {
        color: white;
        font-size: 13px;
    }

    svg {
        width: 15px;
        height: 15px;
        fill: white;
        margin: 0px 10px 1px 0px;
    }
}

#menu-nav-bar {
    .logo {
        width: 35%;
    }
}

@media only screen and (max-width: 991px) {
    #menu-nav-bar .logo {
        width: 59%;
    }

    #mobile-menu {
        .del-web {
            display: block !important;
        }
    }

    #a-car .asagi {
        display: block;
    }

    #list {
        color: $black;
    }



    #calc-button {

        button {
            width: 50%;
        }
    }


}

@media only screen and (max-width: 505px) {
    #a-car .asagi ul {
        float: none;
    }

    #calc-result .columns {
        max-width: 400px;
    }


}

@media only screen and (max-width: 450px) {
    #banner div {
        img {
            width: 78%;
        }

    }

    #calc-result .columns {
        max-width: 296px;
    }

    #a-car .asagi ul li {
        font-size: 16px;
    }


}

@media only screen and (max-width: 350px) {
    #banner div {
        img {
            width: 59%;
        }

    }

    #calc-result #title {
        font-size: 156%;
    }

    #a-car .asagi ul li {
        font-size: 14px;
    }

    #calc-result .columns {
        max-width: 227px;
    }

}



#page-wrap {
    width: 100%;
    position: relative;
}

#banner {
    width: 500px;
    height: 333px;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    left: 50%;
    transform: translate(-50%, 0px);
}

#banner div {
    position: absolute;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

@-webkit-keyframes wipe {
    0% {
        -webkit-mask-position: 0 0;
    }

    100% {
        -webkit-mask-position: -1200px -1200px;
    }
}


/*Images 2*/
#banner div:nth-child(1) {
    -webkit-animation: wipe 6s infinite;
    -webkit-animation-delay: 12s;
    -webkit-animation-direction: alternate;
    -webkit-mask-size: 2000px 2000px;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
            color-stop(0.00, rgba(0, 0, 0, 1)),
            color-stop(0.45, rgba(0, 0, 0, 1)),
            color-stop(0.50, rgba(0, 0, 0, 0)),
            color-stop(0.55, rgba(0, 0, 0, 0)),
            color-stop(1.00, rgba(0, 0, 0, 0)));
}

/*Images 3*/
#banner div:nth-child(2) {
    -webkit-animation: wipe 6s infinite;
    -webkit-animation-delay: 9s;
    -webkit-animation-direction: alternate;
    -webkit-mask-size: 2000px 2000px;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
            color-stop(0.00, rgba(0, 0, 0, 1)),
            color-stop(0.45, rgba(0, 0, 0, 1)),
            color-stop(0.50, rgba(0, 0, 0, 0)),
            color-stop(0.55, rgba(0, 0, 0, 0)),
            color-stop(1.00, rgba(0, 0, 0, 0)));
}

/*Images 4*/
#banner div:nth-child(3) {
    -webkit-animation: wipe 6s infinite;
    -webkit-animation-delay: 6s;
    -webkit-animation-direction: alternate;
    -webkit-mask-size: 2000px 2000px;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
            color-stop(0.00, rgba(0, 0, 0, 1)),
            color-stop(0.45, rgba(0, 0, 0, 1)),
            color-stop(0.50, rgba(0, 0, 0, 0)),
            color-stop(0.55, rgba(0, 0, 0, 0)),
            color-stop(1.00, rgba(0, 0, 0, 0)));
}

/*Images 5*/
#banner div:nth-child(4) {
    -webkit-animation: wipe 6s infinite;
    -webkit-animation-delay: 3s;
    -webkit-animation-direction: alternate;
    -webkit-mask-size: 2000px 2000px;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
            color-stop(0.00, rgba(0, 0, 0, 1)),
            color-stop(0.45, rgba(0, 0, 0, 1)),
            color-stop(0.50, rgba(0, 0, 0, 0)),
            color-stop(0.55, rgba(0, 0, 0, 0)),
            color-stop(1.00, rgba(0, 0, 0, 0)));
}

/*Images 1*/
#banner div:nth-child(5) {
    -webkit-animation: wipe 6s infinite;
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: alternate;
    -webkit-mask-size: 2000px 2000px;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
            color-stop(0.00, rgba(0, 0, 0, 1)),
            color-stop(0.45, rgba(0, 0, 0, 1)),
            color-stop(0.50, rgba(0, 0, 0, 0)),
            color-stop(0.55, rgba(0, 0, 0, 0)),
            color-stop(1.00, rgba(0, 0, 0, 0)));
}

#show-all {
    width: 100%;
    min-height: 100px;
    position: relative;
    display: flex;
    justify-content: center;

    a {
        position: absolute;

        button {
            background: white;
            outline: none;
            color: red;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid red;

            &:hover {
                transition: 1s ease;
                background: red;
                color: white;
            }

            &:focus {

                background: red;
                color: white;
            }
        }
    }

}

.del-web {
    display: none !important;
}

#mobile-menu {
    svg {
        margin-bottom: 5px;
        fill: $black;
        width: 30px;
        text-align: center;
        line-height: 31px;
        text-decoration: none;
        transition: color 1s;
    }

    .social-networks {
        padding: 0;

        li {
            display: inline-block;
        }
    }
}

#footer {
    background-color: $black;
    color: white;
    font-family: 'Leckerli One', cursive;
}

#footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2.2;
}

#footer h5 {
    font-size: 18px;
    color: white;
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

#footer a {
    color: #aaa;
}

#footer a:hover,
#footer a:focus {
    text-decoration: none;
    color: white;
}

#footer .social-networks {
    padding-top: 20px;
    padding-bottom: 25px;
}

#footer .footer-items svg {
    margin-bottom: 5px;
    fill: white;
    width: 20px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 1s;
}

#footer .footer-items {
    margin: auto;
    padding-left: 50px;
    font-size: 15px;
}

#footer .fa-facebook:hover,
#footer .fa-instagram:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #182c39;
}


.footer-copyright {
    background-color: $black;
}

.footer-copyright p {
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding: 10px 0;
    margin-bottom: 0;
    font-family: 'Leckerli One', cursive;
    padding: 35px;
}

#footer .hr-foot {
    width: 80%;
    margin: 10px auto;
    border: 1px solid #fff;
}

#footer .to-top {
    color: #fff;
    font-size: 30px;
    position: fixed;
    right: 12px;
    bottom: 12px;
    height: 40px;
    width: 40px;
    text-decoration: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
}

#footer .to-top:hover {
    background-color: #222;
    color: #fff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}